### Predicting City House with Scikit-Learn

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('houses_to_rent.csv')
print(data.shape)

(6080, 14)

In [3]:
data.head()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [4]:
data.drop(data.columns[0], axis=1, inplace=True)

In [5]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [6]:
data['floor'].replace(to_replace='-', value=0, inplace=True)

In [7]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [8]:
data['animal'].replace(to_replace='not acept', value=0, inplace=True)
data['animal'].replace(to_replace='acept', value=1, inplace=True)

In [9]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,1,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,1,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,1,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,0,0,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"

In [10]:
data['furniture'].replace(to_replace='not furnished', value=0, inplace=True)
data['furniture'].replace(to_replace='furnished', value=1, inplace=True)

In [11]:
for col in ['hoa', 'rent amount', 'property tax', 'fire insurance', 'total']:
    data[col].replace(to_replace='R\$', value='', regex=True, inplace=True)
    data[col].replace(to_replace=',', value='', regex=True, inplace=True)

In [12]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257

In [13]:
data['hoa'].replace(to_replace='Sem info', value='0', inplace=True)

In [14]:
data['hoa'].replace(to_replace='Incluso', value='0', inplace=True)
data['property tax'].replace(to_replace='Incluso', value='0', inplace=True)

In [15]:
data = data.astype(dtype=np.int64)

In [16]:
data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,240,3,3,4,0,1,1,0,8000,1000,121,9121
1,0,64,2,1,1,10,1,0,540,820,122,11,1493
2,1,443,5,5,4,3,1,1,4172,7000,1417,89,12680
3,1,73,2,2,1,12,1,0,700,1250,150,16,2116
4,1,19,1,1,0,0,0,0,0,1200,41,16,1257
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,2,1,0,420,1150,0,15,1585
6076,1,84,2,2,1,16,0,1,768,2900,63,37,3768
6077,0,48,1,1,0,13,1,0,250,950,42,13,1255
6078,1,160,3,2,2,0,0,0,0,3500,250,53,3803
6079,1,60,2,1,1,4,1,1,489,1900,0,25,2414

In [17]:
data = data.sample(frac=1).reset_index(drop=True)
data

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1,52,1,2,1,13,1,0,1100,5000,210,64,6374
1,1,120,2,3,2,19,1,1,0,9920,0,126,10050
2,1,57,2,2,1,15,1,0,520,1911,0,20,2541
3,1,94,3,2,3,5,1,0,820,2200,350,28,3398
4,1,50,2,1,0,1,1,0,54,2000,42,26,2122
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,0,55,1,1,0,5,1,0,473,500,17,7,997
6076,1,86,2,1,1,12,1,0,1000,3007,84,39,4130
6077,1,49,2,1,1,6,1,0,277,2100,104,27,2508
6078,1,60,2,1,0,6,1,1,450,1524,0,5,1979
6079,1,158,3,3,2,10,0,0,1995,5500,529,70,8094

In [18]:
y = data['city']
X = data.drop('city', axis=1)

In [19]:
X

,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,52,1,2,1,13,1,0,1100,5000,210,64,6374
1,120,2,3,2,19,1,1,0,9920,0,126,10050
2,57,2,2,1,15,1,0,520,1911,0,20,2541
3,94,3,2,3,5,1,0,820,2200,350,28,3398
4,50,2,1,0,1,1,0,54,2000,42,26,2122
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,55,1,1,0,5,1,0,473,500,17,7,997
6076,86,2,1,1,12,1,0,1000,3007,84,39,4130
6077,49,2,1,1,6,1,0,277,2100,104,27,2508
6078,60,2,1,0,6,1,1,450,1524,0,5,1979
6079,158,3,3,2,10,0,0,1995,5500,529,70,8094

In [20]:
y

0       1
1       1
2       1
3       1
4       1
       ..
6075    0
6076    1
6077    1
6078    1
6079    1
Name: city, Length: 6080, dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler = MinMaxScaler()
scaler.fit(X)
X = scaler.transform(X)

In [24]:
X

array([[0.00170759, 0.        , 0.11111111, ..., 0.0005733 , 0.09050445,
        0.01535856],
       [0.00447227, 0.11111111, 0.22222222, ..., 0.        , 0.18249258,
        0.02523922],
       [0.00191088, 0.11111111, 0.11111111, ..., 0.        , 0.02522255,
        0.00505591],
       ...,
       [0.00158562, 0.11111111, 0.        , ..., 0.00028392, 0.03560831,
        0.00496721],
       [0.00203285, 0.11111111, 0.        , ..., 0.        , 0.00296736,
        0.00354532],
       [0.00601724, 0.22222222, 0.22222222, ..., 0.00144417, 0.09940653,
        0.01998172]])

In [25]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.001708,0.000000,0.111111,0.083333,0.131313,1.0,0.0,0.005000,0.102737,0.000573,0.090504,0.015359
1,0.004472,0.111111,0.222222,0.166667,0.191919,1.0,1.0,0.000000,0.213100,0.000000,0.182493,0.025239
2,0.001911,0.111111,0.111111,0.083333,0.151515,1.0,0.0,0.002364,0.033445,0.000000,0.025223,0.005056
3,0.003415,0.222222,0.111111,0.250000,0.050505,1.0,0.0,0.003727,0.039928,0.000956,0.037092,0.007359
4,0.001626,0.111111,0.000000,0.000000,0.010101,1.0,0.0,0.000245,0.035442,0.000115,0.034125,0.003930
...,...,...,...,...,...,...,...,...,...,...,...,...
6075,0.001830,0.000000,0.000000,0.000000,0.050505,1.0,0.0,0.002150,0.001795,0.000046,0.005935,0.000906
6076,0.003090,0.111111,0.000000,0.083333,0.121212,1.0,0.0,0.004545,0.058031,0.000229,0.053412,0.009327
6077,0.001586,0.111111,0.000000,0.083333,0.060606,1.0,0.0,0.001259,0.037685,0.000284,0.035608,0.004967
6078,0.002033,0.111111,0.000000,0.000000,0.060606,1.0,1.0,0.002045,0.024764,0.000000,0.002967,0.003545
6079,0.006017,0.222222,0.222222,0.166667,0.101010,0.0,0.0,0.009068,0.113952,0.001444,0.099407,0.019982

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [27]:
X_train.shape, y_train.shape

((4864, 12), (4864,))

In [28]:
X_test.shape, y_test.shape

((1216, 12), (1216,))

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier

In [31]:
log_model = LogisticRegression(penalty='l2', verbose=1)
svm_model = SVC(verbose=1)
nn_model = MLPClassifier(hidden_layer_sizes=(16,16), activation='relu', solver='adam', verbose=1)

In [32]:
log_model.fit(X_train, y_train)
nn_model.fit(X_train, y_train)
svm_model.fit(X_train, y_train)

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =           13     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f=  6.93147D-01    |proj g|=  3.60403D-01

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
   13     25     26      1     0     0   3.907D-05   3.721D-01
  F =  0.37209085346170162

CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL
Iteration 1, loss = 0.67489916
Iteration 2, loss = 0.57825453
Iteration 3, loss = 0.48515365
Iteration 4, loss = 0.42172622
Iteration 5, loss = 0.40073269
Iteration 6, loss = 0.39655660
Iteration 7, loss = 0.39375369
Iteration 8, loss = 0.39119358
Iteration 9, loss = 0.38936879

 This problem is unconstrained.

Iteration 10, loss = 0.38771307
Iteration 11, loss = 0.38585403
Iteration 12, loss = 0.38427278
Iteration 13, loss = 0.38299221
Iteration 14, loss = 0.38212390
Iteration 15, loss = 0.38112280
Iteration 16, loss = 0.38009645
Iteration 17, loss = 0.37915364
Iteration 18, loss = 0.37814463
Iteration 19, loss = 0.37729448
Iteration 20, loss = 0.37637470
Iteration 21, loss = 0.37554505
Iteration 22, loss = 0.37441896
Iteration 23, loss = 0.37347322
Iteration 24, loss = 0.37261131
Iteration 25, loss = 0.37159963
Iteration 26, loss = 0.37069761
Iteration 27, loss = 0.36950721
Iteration 28, loss = 0.36862125
Iteration 29, loss = 0.36730778
Iteration 30, loss = 0.36643832
Iteration 31, loss = 0.36542807
Iteration 32, loss = 0.36458422
Iteration 33, loss = 0.36330369
Iteration 34, loss = 0.36230005
Iteration 35, loss = 0.36151492
Iteration 36, loss = 0.36051904
Iteration 37, loss = 0.35967284
Iteration 38, loss = 0.35861652
Iteration 39, loss = 0.35756343
Iteration 40, loss = 0.35673551
Iteration 41, loss = 0.35569948
Iteration 42, loss = 0.35510452
Iteration 43, loss = 0.35409937
Iteration 44, loss = 0.35389970
Iteration 45, loss = 0.35267283
Iteration 46, loss = 0.35136531
Iteration 47, loss = 0.35092721
Iteration 48, loss = 0.35052417
Iteration 49, loss = 0.34946020
Iteration 50, loss = 0.34843502
Iteration 51, loss = 0.34805104
Iteration 52, loss = 0.34713427
Iteration 53, loss = 0.34630707
Iteration 54, loss = 0.34570804
Iteration 55, loss = 0.34524588
Iteration 56, loss = 0.34442670
Iteration 57, loss = 0.34399747
Iteration 58, loss = 0.34339118
Iteration 59, loss = 0.34276371
Iteration 60, loss = 0.34189077
Iteration 61, loss = 0.34156404
Iteration 62, loss = 0.34097040
Iteration 63, loss = 0.34057191
Iteration 64, loss = 0.34016220
Iteration 65, loss = 0.33863142
Iteration 66, loss = 0.33851935
Iteration 67, loss = 0.33817205
Iteration 68, loss = 0.33727230
Iteration 69, loss = 0.33722709
Iteration 70, loss = 0.33590472
Iteration 71, loss = 0.33552196
Iteration 72, loss = 0.33503934
Iteration 73, loss = 0.33447061
Iteration 74, loss = 0.33418200
Iteration 75, loss = 0.33345797
Iteration 76, loss = 0.33282039
Iteration 77, loss = 0.33251087
Iteration 78, loss = 0.33235050
Iteration 79, loss = 0.33151968
Iteration 80, loss = 0.33061948
Iteration 81, loss = 0.33011748
Iteration 82, loss = 0.32985107
Iteration 83, loss = 0.32904821
Iteration 84, loss = 0.32837628
Iteration 85, loss = 0.32806153
Iteration 86, loss = 0.32767461
Iteration 87, loss = 0.32699300
Iteration 88, loss = 0.32681098
Iteration 89, loss = 0.32590758
Iteration 90, loss = 0.32540055
Iteration 91, loss = 0.32514593
Iteration 92, loss = 0.32470951
Iteration 93, loss = 0.32465764
Iteration 94, loss = 0.32400729
Iteration 95, loss = 0.32312284
Iteration 96, loss = 0.32278625
Iteration 97, loss = 0.32237512
Iteration 98, loss = 0.32139723
Iteration 99, loss = 0.32159930
Iteration 100, loss = 0.32066176
Iteration 101, loss = 0.32170320
Iteration 102, loss = 0.32037113
Iteration 103, loss = 0.31936762
Iteration 104, loss = 0.31902942
Iteration 105, loss = 0.31860255
Iteration 106, loss = 0.31800229
Iteration 107, loss = 0.31724038
Iteration 108, loss = 0.31719635
Iteration 109, loss = 0.31688146
Iteration 110, loss = 0.31686538
Iteration 111, loss = 0.31552102
Iteration 112, loss = 0.31551377
Iteration 113, loss = 0.31465304
Iteration 114, loss = 0.31445572
Iteration 115, loss = 0.31449243
Iteration 116, loss = 0.31403061
Iteration 117, loss = 0.31318732
Iteration 118, loss = 0.31310902
Iteration 119, loss = 0.31251912
Iteration 120, loss = 0.31178054
Iteration 121, loss = 0.31176247
Iteration 122, loss = 0.31084521
Iteration 123, loss = 0.31085396
Iteration 124, loss = 0.31054350
Iteration 125, loss = 0.30910708
Iteration 126, loss = 0.30878273
Iteration 127, loss = 0.30869913
Iteration 128, loss = 0.30782214
Iteration 129, loss = 0.30751115
Iteration 130, loss = 0.30704891
Iteration 131, loss = 0.30649134
Iteration 132, loss = 0.30640060
Iteration 133, loss = 0.30584254
Iteration 134, loss = 0.30839711
Iteration 135, loss = 0.30572754
Iteration 136, loss = 0.30438356
Iteration 137, loss = 0.30441510
Iteration 138, loss = 0.30452567
Iteration 139, loss = 0.30343407
Iteration 140, loss = 0.30343223
Iteration 141, loss = 0.30370841
Iteration 142, loss = 0.30247931
Iteration 143, loss = 0.30246945
Iteration 144, loss = 0.30198870
Iteration 145, loss = 0.30143239
Iteration 146, loss = 0.30140282
Iteration 147, loss = 0.30109354
Iteration 148, loss = 0.30042836
Iteration 149, loss = 0.30012695
Iteration 150, loss = 0.29956118
Iteration 151, loss = 0.29865535
Iteration 152, loss = 0.29789658
Iteration 153, loss = 0.29734847
Iteration 154, loss = 0.29681552
Iteration 155, loss = 0.29698003
Iteration 156, loss = 0.29672316
Iteration 157, loss = 0.29573063
Iteration 158, loss = 0.29582837
Iteration 159, loss = 0.29525192
Iteration 160, loss = 0.29514196
Iteration 161, loss = 0.29447012
Iteration 162, loss = 0.29405232
Iteration 163, loss = 0.29354691
Iteration 164, loss = 0.29400036
Iteration 165, loss = 0.29352068
Iteration 166, loss = 0.29331648
Iteration 167, loss = 0.29289006
Iteration 168, loss = 0.29225356
Iteration 169, loss = 0.29207760
Iteration 170, loss = 0.29217279
Iteration 171, loss = 0.29159822
Iteration 172, loss = 0.29128206
Iteration 173, loss = 0.29142807
Iteration 174, loss = 0.29083590
Iteration 175, loss = 0.29125438
Iteration 176, loss = 0.29007828
Iteration 177, loss = 0.29248368
Iteration 178, loss = 0.29015610
Iteration 179, loss = 0.28965589
Iteration 180, loss = 0.28936996
Iteration 181, loss = 0.29060757
Iteration 182, loss = 0.28863431
Iteration 183, loss = 0.28851907
Iteration 184, loss = 0.28850829
Iteration 185, loss = 0.28887967
Iteration 186, loss = 0.28889016
Iteration 187, loss = 0.28753174
Iteration 188, loss = 0.28755548
Iteration 189, loss = 0.28750372
Iteration 190, loss = 0.28828460
Iteration 191, loss = 0.28738289
Iteration 192, loss = 0.28653445
Iteration 193, loss = 0.28675284
Iteration 194, loss = 0.28658326
Iteration 195, loss = 0.28695309
Iteration 196, loss = 0.28628016
Iteration 197, loss = 0.28685632
Iteration 198, loss = 0.28521173
Iteration 199, loss = 0.28593099
Iteration 200, loss = 0.28543373
[LibSVM]..
Warning: using -h 0 may be faster
*....
Warning: using -h 0 may be faster
*
optimization finished, #iter = 6035
obj = -1357.781447, rho = 0.992440
nSV = 1534, nBSV = 1250
Total nSV = 1534

SVC(verbose=1)

In [33]:
print(log_model.score(X_test, y_test))
print(svm_model.score(X_test, y_test))
print(nn_model.score(X_test, y_test))

0.875
0.875
0.9087171052631579

In [34]:
data[data.columns[0]].sum()/data.shape[0]

0.8633223684210526

In [35]:
from sklearn.metrics import f1_score

In [36]:
log_pred = log_model.predict(X_test)
svm_pred = svm_model.predict(X_test)
nn_pred = nn_model.predict(X_test)

In [40]:
print(f1_score(log_pred, y_test))
print(f1_score(svm_pred, y_test))
print(f1_score(nn_pred, y_test))

0.9333333333333333
0.9333333333333333
0.9497054825555052