## Startup Funding Prediction

Given data about startups in India, let's try to predict the **funding** provided to a given startup.

We will use tensorflow/keras neural network within a scikit-learn pipeline to make our predictions.

Data source: https://www.kaggle.com/datasets/sudalairajkumar/indian-startup-funding

### Getting Started

In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

import tensorflow as tf

from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('startup_funding.csv')
data

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"45,00,000",NaN
3040,3041,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"8,25,000",Govt backed VC Fund
3041,3042,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"15,00,000",NaN
3042,3043,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"1,40,000",NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

### Preprocessing

In [4]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Drop ID and high-cardinality columns
    df = df.drop(['Sr No', 'Startup Name', 'SubVertical', 'Investors Name'], axis=1)
    
    # Clean \\xc2 \\xa0 examples
    df = df.applymap(lambda x: x.replace(r'\\xc2\\xa0', '') if type(x) == str else x)
    
    # Clean target column
    df['Amount in USD'] = df['Amount in USD'].apply(lambda x: x.replace(',', '') if str(x) != 'nan' else x)
    
    df['Amount in USD'] = df['Amount in USD'].replace({
        'undisclosed': np.NaN,
        'unknown': np.NaN,
        'Undisclosed': np.NaN,
        'N/A': np.NaN,
        '14342000+': '14342000'
    })
    
    # Drop missing target rows
    missing_target_rows = df[df['Amount in USD'].isna()].index
    df = df.drop(missing_target_rows, axis=0).reset_index(drop=True)
    
    # Drop columns with more than 25% missing values
    df = df.drop('Remarks', axis=1)
    
    # Fill categorical missing values with most frequent occurence
    for column in ['Industry Vertical', 'City  Location', 'InvestmentnType']:
        df[column] = df[column].fillna(df[column].mode()[0])
        
    # Clean date column
    df['Date dd/mm/yyyy'] = df['Date dd/mm/yyyy'].replace({
        '05/072018':'05/07/2018',
        '01/07/015':'01/07/2015',
        '22/01//2015': '22/01/2015'
    })
    
    # Extract date features
    df['Date dd/mm/yyyy'] = pd.to_datetime(df['Date dd/mm/yyyy'])
    df['Year'] = df['Date dd/mm/yyyy'].apply(lambda x: x.year)
    df['Month'] = df['Date dd/mm/yyyy'].apply(lambda x: x.month)
    df['Day'] = df['Date dd/mm/yyyy'].apply(lambda x: x.day)
    df = df.drop('Date dd/mm/yyyy', axis=1)
    
    # Convert target column to float
    df['Amount in USD'] = df['Amount in USD'].astype(float)
    
    # Split df into X and y
    y = df['Amount in USD']
    X = df.drop('Amount in USD', axis=1)
    
    # Train test split
    X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, shuffle=True, random_state=1)
    
    return X_train, X_test, y_train, y_test

In [5]:
X_train, X_test, y_train, y_test = preprocess_inputs(data)

In [6]:
X_train

,Industry Vertical,City Location,InvestmentnType,Year,Month,Day
924,eCommerce,Noida,Private Equity,2016,4,10
1108,Consumer Internet,Bangalore,Seed Funding,2016,7,21
1059,Consumer Internet,Mumbai,Private Equity,2016,8,29
160,Consumer Internet,Bengaluru,Seed/ Angel Funding,2018,8,8
1696,on-demand delivery service,Gurgaon,Seed Funding,2015,8,17
...,...,...,...,...,...,...
960,eCommerce,Ahmedabad,Private Equity,2016,10,26
905,Consumer Internet,Mumbai,Private Equity,2016,11,24
1096,eCommerce,New Delhi,Seed Funding,2016,7,15
235,Finance,Chennai,Seed / Angel Funding,2018,2,5
1061,Consumer Internet,Chennai,Private Equity,2016,8,29

In [7]:
y_train

924     4200000.0
1108     595000.0
1059    3000000.0
160     4000000.0
1696     310000.0
          ...
960     1000000.0
905     4000000.0
1096     250000.0
235      450000.0
1061    1000000.0
Name: Amount in USD, Length: 1451, dtype: float64

### Building the pipeline

In [13]:
def build_model():
    inputs = tf.keras.Input(shape=(532,))
    x = tf.keras.layers.Dense(128, activation='relu')(inputs)
    x = tf.keras.layers.Dense(128, activation='relu')(x)
    outputs = tf.keras.layers.Dense(1, activation='linear')(x)
    
    model = tf.keras.Model(inputs=inputs, outputs=outputs)
    
    model.compile(optimizer='adam', loss='mse')
    
    return model

In [22]:
nominal_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown = 'ignore', sparse=False))
])

preprocessor = ColumnTransformer(transformers=[
    ('nominal', nominal_transformer, ['Industry Vertical', 'City  Location', 'InvestmentnType'])
], remainder='passthrough')

regressor = tf.keras.wrappers.scikit_learn.KerasRegressor(build_model)

model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('scaler', StandardScaler()),
    ('regressor', regressor)
])

### Training

In [23]:
# model.fit_transform(X_train).shape

In [24]:
model.fit(X_train, 
          y_train, 
          regressor__validation_split=0.2,
          regressor__batch_size=32,
          regressor__epochs=100,
          regressor__callbacks=[
             tf.keras.callbacks.EarlyStopping(
                 monitor='val_loss',
                 patience=3,
                 restore_best_weights=True
             )
         ])

Epoch 1/100
37/37 [==============================] - 0s 5ms/step - loss: 17648139804606464.0000 - val_loss: 29475037702520832.0000
Epoch 2/100
37/37 [==============================] - 0s 3ms/step - loss: 17648135509639168.0000 - val_loss: 29475037702520832.0000
Epoch 3/100
37/37 [==============================] - 0s 3ms/step - loss: 17648134435897344.0000 - val_loss: 29475029112586240.0000
Epoch 4/100
37/37 [==============================] - 0s 3ms/step - loss: 17648122624737280.0000 - val_loss: 29475020522651648.0000
Epoch 5/100
37/37 [==============================] - 0s 3ms/step - loss: 17648103297384448.0000 - val_loss: 29474990457880576.0000
Epoch 6/100
37/37 [==============================] - 0s 3ms/step - loss: 17648077527580672.0000 - val_loss: 29474945360723968.0000
Epoch 7/100
37/37 [==============================] - 0s 3ms/step - loss: 17648030282940416.0000 - val_loss: 29474891673632768.0000
Epoch 8/100
37/37 [==============================] - 0s 3ms/step - loss: 17647963710947328.0000 - val_loss: 29474807921770496.0000
Epoch 9/100
37/37 [==============================] - 0s 3ms/step - loss: 17647879959085056.0000 - val_loss: 29474694105137152.0000
Epoch 10/100
37/37 [==============================] - 0s 4ms/step - loss: 17647763994968064.0000 - val_loss: 29474558813667328.0000
Epoch 11/100
37/37 [==============================] - 0s 3ms/step - loss: 17647620113563648.0000 - val_loss: 29474380572524544.0000
Epoch 12/100
37/37 [==============================] - 0s 4ms/step - loss: 17647448314871808.0000 - val_loss: 29474170119127040.0000
Epoch 13/100
37/37 [==============================] - 0s 3ms/step - loss: 17647241082699776.0000 - val_loss: 29473923158507520.0000
Epoch 14/100
37/37 [==============================] - 0s 3ms/step - loss: 17647000564531200.0000 - val_loss: 29473652575567872.0000
Epoch 15/100
37/37 [==============================] - 0s 4ms/step - loss: 17646733202817024.0000 - val_loss: 29473330453020672.0000
Epoch 16/100
37/37 [==============================] - 0s 3ms/step - loss: 17646413227753472.0000 - val_loss: 29472978265702400.0000
Epoch 17/100
37/37 [==============================] - 0s 2ms/step - loss: 17646054597984256.0000 - val_loss: 29472533736587264.0000
Epoch 18/100
37/37 [==============================] - 0s 2ms/step - loss: 17645683083313152.0000 - val_loss: 29472147189530624.0000
Epoch 19/100
37/37 [==============================] - 0s 2ms/step - loss: 17645296536256512.0000 - val_loss: 29471691922997248.0000
Epoch 20/100
37/37 [==============================] - 0s 2ms/step - loss: 17644836974755840.0000 - val_loss: 29471180821889024.0000
Epoch 21/100
37/37 [==============================] - 0s 4ms/step - loss: 17644331242356736.0000 - val_loss: 29470611738722304.0000
Epoch 22/100
37/37 [==============================] - 0s 3ms/step - loss: 17643783634026496.0000 - val_loss: 29469980378529792.0000
Epoch 23/100
37/37 [==============================] - 0s 5ms/step - loss: 17643172674928640.0000 - val_loss: 29469286741311488.0000
Epoch 24/100
37/37 [==============================] - 0s 6ms/step - loss: 17642498365063168.0000 - val_loss: 29468550154420224.0000
Epoch 25/100
37/37 [==============================] - 0s 3ms/step - loss: 17641775736815616.0000 - val_loss: 29467693308444672.0000
Epoch 26/100
37/37 [==============================] - 0s 3ms/step - loss: 17640980094124032.0000 - val_loss: 29466819282599936.0000
Epoch 27/100
37/37 [==============================] - 0s 3ms/step - loss: 17640126469373952.0000 - val_loss: 29465940961787904.0000
Epoch 28/100
37/37 [==============================] - 0s 3ms/step - loss: 17639195535212544.0000 - val_loss: 29464910169636864.0000
Epoch 29/100
37/37 [==============================] - 0s 4ms/step - loss: 17638283928403968.0000 - val_loss: 29463716168728576.0000
Epoch 30/100
37/37 [==============================] - 0s 3ms/step - loss: 17637184416776192.0000 - val_loss: 29462522167820288.0000
Epoch 31/100
37/37 [==============================] - 0s 3ms/step - loss: 17636067725279232.0000 - val_loss: 29461310987042816.0000
Epoch 32/100
37/37 [==============================] - 0s 3ms/step - loss: 17634886609272832.0000 - val_loss: 29459870025515008.0000
Epoch 33/100
37/37 [==============================] - 0s 3ms/step - loss: 17633571275538432.0000 - val_loss: 29458527848235008.0000
Epoch 34/100
37/37 [==============================] - 0s 2ms/step - loss: 17632331103731712.0000 - val_loss: 29457039642066944.0000
Epoch 35/100
37/37 [==============================] - 0s 2ms/step - loss: 17630919133233152.0000 - val_loss: 29455628745310208.0000
Epoch 36/100
37/37 [==============================] - 0s 3ms/step - loss: 17629470655512576.0000 - val_loss: 29453878546137088.0000
Epoch 37/100
37/37 [==============================] - 0s 4ms/step - loss: 17627942720897024.0000 - val_loss: 29452201361408000.0000
Epoch 38/100
37/37 [==============================] - 0s 3ms/step - loss: 17626357877964800.0000 - val_loss: 29450438277332992.0000
Epoch 39/100
37/37 [==============================] - 0s 3ms/step - loss: 17624681766977536.0000 - val_loss: 29448653718421504.0000
Epoch 40/100
37/37 [==============================] - 0s 3ms/step - loss: 17622999213539328.0000 - val_loss: 29446690918367232.0000
Epoch 41/100
37/37 [==============================] - 0s 2ms/step - loss: 17621218949595136.0000 - val_loss: 29444622891614208.0000
Epoch 42/100
37/37 [==============================] - 0s 3ms/step - loss: 17619290509279232.0000 - val_loss: 29442619289370624.0000
Epoch 43/100
37/37 [==============================] - 0s 3ms/step - loss: 17617437230891008.0000 - val_loss: 29440400938762240.0000
Epoch 44/100
37/37 [==============================] - 0s 2ms/step - loss: 17615344508076032.0000 - val_loss: 29438347944394752.0000
Epoch 45/100
37/37 [==============================] - 0s 3ms/step - loss: 17613300103643136.0000 - val_loss: 29435968532512768.0000
Epoch 46/100
37/37 [==============================] - 0s 3ms/step - loss: 17611095711678464.0000 - val_loss: 29433700789780480.0000
Epoch 47/100
37/37 [==============================] - 0s 3ms/step - loss: 17608836558880768.0000 - val_loss: 29431336410284032.0000
Epoch 48/100
37/37 [==============================] - 0s 2ms/step - loss: 17606544120086528.0000 - val_loss: 29428570451345408.0000
Epoch 49/100
37/37 [==============================] - 0s 3ms/step - loss: 17604163634462720.0000 - val_loss: 29425735772930048.0000
Epoch 50/100
37/37 [==============================] - 0s 3ms/step - loss: 17601623161307136.0000 - val_loss: 29423077188173824.0000
Epoch 51/100
37/37 [==============================] - 0s 3ms/step - loss: 17599095573053440.0000 - val_loss: 29420489470377984.0000
Epoch 52/100
37/37 [==============================] - 0s 3ms/step - loss: 17596561542348800.0000 - val_loss: 29417519500492800.0000
Epoch 53/100
37/37 [==============================] - 0s 3ms/step - loss: 17593975972036608.0000 - val_loss: 29414689117044736.0000
Epoch 54/100
37/37 [==============================] - 0s 3ms/step - loss: 17591252962770944.0000 - val_loss: 29411740621996032.0000
Epoch 55/100
37/37 [==============================] - 0s 3ms/step - loss: 17588500962476032.0000 - val_loss: 29408893058678784.0000
Epoch 56/100
37/37 [==============================] - 0s 3ms/step - loss: 17585744667213824.0000 - val_loss: 29405850074349568.0000
Epoch 57/100
37/37 [==============================] - 0s 3ms/step - loss: 17583050648977408.0000 - val_loss: 29402420542963712.0000
Epoch 58/100
37/37 [==============================] - 0s 3ms/step - loss: 17579949682589696.0000 - val_loss: 29399568684679168.0000
Epoch 59/100
37/37 [==============================] - 0s 3ms/step - loss: 17577040915988480.0000 - val_loss: 29396205725286400.0000
Epoch 60/100
37/37 [==============================] - 0s 3ms/step - loss: 17573829354192896.0000 - val_loss: 29392896452984832.0000
Epoch 61/100
37/37 [==============================] - 0s 3ms/step - loss: 17570749862641664.0000 - val_loss: 29389022392483840.0000
Epoch 62/100
37/37 [==============================] - 0s 3ms/step - loss: 17567469581369344.0000 - val_loss: 29385564943810560.0000
Epoch 63/100
37/37 [==============================] - 0s 3ms/step - loss: 17564311706664960.0000 - val_loss: 29382013005856768.0000
Epoch 64/100
37/37 [==============================] - 0s 3ms/step - loss: 17560983107010560.0000 - val_loss: 29378731650842624.0000
Epoch 65/100
37/37 [==============================] - 0s 3ms/step - loss: 17557739332960256.0000 - val_loss: 29374949932138496.0000
Epoch 66/100
37/37 [==============================] - 0s 3ms/step - loss: 17554257188225024.0000 - val_loss: 29371425911472128.0000
Epoch 67/100
37/37 [==============================] - 0s 3ms/step - loss: 17550897450057728.0000 - val_loss: 29367442329305088.0000
Epoch 68/100
37/37 [==============================] - 0s 2ms/step - loss: 17547195188248576.0000 - val_loss: 29363832409292800.0000
Epoch 69/100
37/37 [==============================] - 0s 3ms/step - loss: 17543706601062400.0000 - val_loss: 29359827352289280.0000
Epoch 70/100
37/37 [==============================] - 0s 3ms/step - loss: 17540162179301376.0000 - val_loss: 29355605399437312.0000
Epoch 71/100
37/37 [==============================] - 0s 3ms/step - loss: 17536430926462976.0000 - val_loss: 29351733486419968.0000
Epoch 72/100
37/37 [==============================] - 0s 2ms/step - loss: 17532708263559168.0000 - val_loss: 29347827213664256.0000
Epoch 73/100
37/37 [==============================] - 0s 2ms/step - loss: 17528733271326720.0000 - val_loss: 29343536541335552.0000
Epoch 74/100
37/37 [==============================] - 0s 3ms/step - loss: 17525002018488320.0000 - val_loss: 29339469207306240.0000
Epoch 75/100
37/37 [==============================] - 0s 3ms/step - loss: 17521286871777280.0000 - val_loss: 29335296646578176.0000
Epoch 76/100
37/37 [==============================] - 0s 3ms/step - loss: 17517327985672192.0000 - val_loss: 29331444060913664.0000
Epoch 77/100
37/37 [==============================] - 0s 3ms/step - loss: 17513526939615232.0000 - val_loss: 29327439003910144.0000
Epoch 78/100
37/37 [==============================] - 0s 3ms/step - loss: 17509663616532480.0000 - val_loss: 29322854126321664.0000
Epoch 79/100
37/37 [==============================] - 0s 3ms/step - loss: 17505603798695936.0000 - val_loss: 29318219856609280.0000
Epoch 80/100
37/37 [==============================] - 0s 3ms/step - loss: 17501585856790528.0000 - val_loss: 29313634979020800.0000
Epoch 81/100
37/37 [==============================] - 0s 4ms/step - loss: 17497508859084800.0000 - val_loss: 29309262702313472.0000
Epoch 82/100
37/37 [==============================] - 0s 4ms/step - loss: 17493427566411776.0000 - val_loss: 29304976324952064.0000
Epoch 83/100
37/37 [==============================] - 0s 3ms/step - loss: 17489440763019264.0000 - val_loss: 29300500969029632.0000
Epoch 84/100
37/37 [==============================] - 0s 3ms/step - loss: 17485248874938368.0000 - val_loss: 29296075005231104.0000
Epoch 85/100
37/37 [==============================] - 0s 3ms/step - loss: 17481082756661248.0000 - val_loss: 29291462210355200.0000
Epoch 86/100
37/37 [==============================] - 0s 3ms/step - loss: 17476911269675008.0000 - val_loss: 29286724861427712.0000
Epoch 87/100
37/37 [==============================] - 0s 3ms/step - loss: 17472668915728384.0000 - val_loss: 29282251652988928.0000
Epoch 88/100
37/37 [==============================] - 0s 3ms/step - loss: 17468559705767936.0000 - val_loss: 29277675365335040.0000
Epoch 89/100
37/37 [==============================] - 0s 3ms/step - loss: 17464248632344576.0000 - val_loss: 29273225779216384.0000
Epoch 90/100
37/37 [==============================] - 0s 3ms/step - loss: 17459952591306752.0000 - val_loss: 29268660228980736.0000
Epoch 91/100
37/37 [==============================] - 0s 3ms/step - loss: 17455613600595968.0000 - val_loss: 29264294394724352.0000
Epoch 92/100
37/37 [==============================] - 0s 3ms/step - loss: 17451596732432384.0000 - val_loss: 29259000847532032.0000
Epoch 93/100
37/37 [==============================] - 0s 3ms/step - loss: 17447143925088256.0000 - val_loss: 29254392347623424.0000
Epoch 94/100
37/37 [==============================] - 0s 3ms/step - loss: 17442764132188160.0000 - val_loss: 29249697948368896.0000
Epoch 95/100
37/37 [==============================] - 0s 4ms/step - loss: 17438305956134912.0000 - val_loss: 29245804560515072.0000
Epoch 96/100
37/37 [==============================] - 0s 3ms/step - loss: 17434294456680448.0000 - val_loss: 29240448736296960.0000
Epoch 97/100
37/37 [==============================] - 0s 3ms/step - loss: 17429760044957696.0000 - val_loss: 29235692060016640.0000
Epoch 98/100
37/37 [==============================] - 0s 3ms/step - loss: 17425494068690944.0000 - val_loss: 29230840894455808.0000
Epoch 99/100
37/37 [==============================] - 0s 3ms/step - loss: 17420974689353728.0000 - val_loss: 29226204477259776.0000
Epoch 100/100
37/37 [==============================] - 0s 3ms/step - loss: 17416930977644544.0000 - val_loss: 29221142858301440.0000

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('nominal',
                                                  Pipeline(steps=[('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['Industry Vertical',
                                                   'City  Location',
                                                   'InvestmentnType'])])),
                ('scaler', StandardScaler()),
                ('regressor',
                 <tensorflow.python.keras.wrappers.scikit_learn.KerasRegressor object at 0x78439c544090>)])

### Results

In [26]:
y_pred = model.predict(X_test)

rmse = np.sqrt(np.mean((y_test - y_pred)**2))

print("Test RMSE: {:.2f}".format(rmse))

r2 = r2_score(y_test, y_pred)
print("Test R^2 Score: {:.5f}".format(r2))

Test RMSE: 56331387.14
Test R^2 Score: -0.01966

In [ ]:
# X[pd.to_datetime(X['Date dd/mm/yyyy'], errors='coerce').isna()]

In [ ]:
# {column: len(X[column].unique()) for column in X.columns}

In [ ]:
# z = X['Amount in USD'].copy()
# for i, x in z.iteritems():
#     try:
#         x = float(x)
#     except:
#         print(x)

In [ ]:
# X.isna().sum()